<div class="margin-left">

  <h2 class="edit_page">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.label :email ,:class=>"label label-primary"%><br />
      <%= f.email_field :email, autofocus: true , :class=>'textbox-size',:id=>"email" %>
    </div>
    
    <div>
      <%= f.label :first_name , :class=>"label label-primary"%><br />
      <%= f.text_field :first_name, :class=>'textbox-size',:id=>"email" %></p>
    </div>
      
    <div>
      <%= f.label :last_name, :class=>"label label-primary" %><br />
      <%= f.text_field :last_name , :class=>'textbox-size',:id=>"email" %></p>
    </div>
          
    <div>
      <%= f.label :gender, :class=>"label label-primary"%><br />
      <%= f.select :gender, User::GENDER,{},{:class=>"form-control"} %>
    </div>
      
    <div>
      <%= f.label :DOB , :class=>"label label-primary"%><br />    
      <%= f.text_field :dob, :id => "datepicker" %>
    </div>
    <div><%= f.label :mobile ,:class=>"label label-primary"%><br />
      <%= f.text_field :mobile , :placeholder => "Mobile", :class=>'textbox-size', :id=>"email"%></p>
    </div>
      
     <div>
      <%= f.label :family_member_mobile ,:class=>"label label-primary"%><br />
      <%= f.text_field :family_member_mobile, :placeholder => "Family Member Mobile", :class=>'textbox-size',:id=>"email"%></p>
    </div>
      
    <div>
      <%= f.label :address ,:class=>"label label-primary" %><br />
      <%= f.text_field :address , :placeholder => "Address", :class=>'textbox-size', :id=>"email" %></p>
    </div>
      

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div>
      <%= f.label :current_password, :class=>"label label-primary" %><br/>
      <%= f.password_field :current_password , :placeholder => "Password" , autocomplete: "off", :id=>"email"%> <br><i>(we need your current password to confirm your changes)</i><br />
    </div>
    <br/>
    <div>
      <%= f.submit "Update", :class=> "btn btn-primary",:id=>"sign_in" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  // When the document is ready
  $(document).ready(function () {  
      $('#datepicker').datepicker({
          todayBtn: "linked",
      });
  });
</script>