<div class = "margin-left" > 
  <h3>Apply for leave</h3>
  <% current_time = Time.now %>
  <%= form_for [@leave]  do |f| %>

      <% if @leave.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@leave.errors.count, "error") %> prohibited this comment from being saved:</h2>
              <ul>
              <% @leave.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
      <%end%>

    <p >
      <%= f.label :Subject, :class=>"label label-primary" %><br>
      <%= f.text_area :subject ,:id => "message_area" ,:required => true %>
    </p>

    <p id="p1">
      <%= f.label :Date, :class=>"label label-primary" %><br>
      <%= f.text_field :start_date, :id => "datetimepicker9", :class=>"span2" ,:required => true %>
      <%= f.text_field :end_date, :id => "datetimepicker10", :class=>"span2",:required => true %>
    </p>
    <p>
      <%= f.label :Reason, :class=>"label label-primary" %><br>
      <%= f.text_area :comment, :id => "message_area",:required => true  %>
    </p>
    <br>
    <div>
      <%= f.submit value ="Apply", :class=>"btn btn-primary"  %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
    $(function () {
        var start_date;
        var end_date;
        var time = "<%= current_time %>"
        $('#datetimepicker9').datetimepicker({
          format: 'YYYY-MM-DD HH:mm ',
          startDate: new Date(),
        });
        $('#datetimepicker10').datetimepicker({format: 'YYYY-MM-DD HH:mm '});
        $("#datetimepicker9").on("dp.change",function (e) { 
           $('#datetimepicker9').data("DateTimePicker").setMinDate(time);
           $('#datetimepicker10').data("DateTimePicker").setMinDate(e.date);
        });
        $("#datetimepicker10").on("dp.change",function (e) {
            end_date = e.date; 
           $('#datetimepicker9').data("DateTimePicker").setMaxDate(e.date);
        });
    });
</script>