<div class = margin-left>
<h3>Apply for leave</h3>
<%= form_for [@leave]  do |f| %>

    <% if @leave.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@leave.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% @leave.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <%end%>

  <p >
    <%= f.label :Subject %><br>
    <%= f.text_area :subject ,:id => "message_area" ,:required => true %>
  </p>
      
  <p>
      <%= f.label :Date %><br>
      <%= f.text_field :start_date, :id => "datepicker", :class=>"input-small" ,:required => true %>
      <%= f.text_field :end_date, :id => "datepicker1", :class=>"input-small",:required => true %>

       <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {  
                $('#datepicker').datepicker({
                    todayBtn: "linked",
                    required: true,
                });
                $('#datepicker1').datepicker({
                    todayBtn: "linked",
                    required: true,

                });
            });
        </script>
  </p>
 
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment, :id => "message_area",:required => true  %>
  </p>
  <br>
  <p>
     <%= f.submit value ="Update leaves"  %>
  </p>
<% end %>

</div>
