
 <div id="myModal" class="modal fade">
      <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header" style="background: gray;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel ">Notifications </h4>
                     </div>
                        <div class="modal-body" style="background: pink; padding-left: 70px; font-size: 20px;"></div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
            </div>
      </div>
</div>   

    <% if current_user.present? && session['viewed'].nil? %>
       <script type="text/javascript">
          $(document).ready(function() {
              $.get("/welcome_notify", function( data ) {
                  if (data.length > 0){
                      var d_html = "";
                      for(i=0;i<data.length;i++){
                          d_html += "<div><b><i>Today is "+ data[i].first_name +"  " +data[i].last_name+" birthday</i></b></div>";
                      }
                       $('.modal-body').html(d_html);
                      $('#myModal').modal('show');
                    }
                  });
           });
        </script>
    <% session['viewed'] = 'viewed' %>
  <% end %>

      <div class = icon1>
        <% if current_user.present?%>
          <div class = link>
           <span ><%= link_to 'Plan Leave', new_leafe_path %></span>
          </div >
          <% end %>
        </div>
  <% if current_user.present?%> 
    <% if @leaves.present?%>
      <div  class ="table">    
            <h3>Your leaved Board</h3> 
             <table style="width:600px; background-color: #edf0f5; ">
                <tr>
                        <th >Subjects</th>
                        <th>Comment</th>
                        <th>Start_Date</th>
                        <th>End_Date</th>
                        <th>Status</th>
                  </tr>
                    <% @leaves.each do |leave| %>
                        <tr>
                            <td><%= leave.subject %></td>
                            <td><%= leave.comment %></td>
                            <td><%= leave.start_date%></td>
                            <td><%= leave.end_date %></td>
                            <td><%= leave.status %></td>
                        </tr>
                      <%end%>
            </table>
            <%= paginate @leaves, :remote => true, :param_name => "page1" %>
        </div>
        <%end%>
      <% if @leavs.present?%>
        <div class ="table">
            <h3>Leave Need Your approvel</h3>
            <%= link_to 'Calender', leaves_path %>
              <table style="width:600px; background-color: #edf0f5;">
                  <tr>
                      <th >User</th>
                      <th >Subjects</th>
                      <th>Comment    </th>
                      <th>Start_Date </th>
                      <th>End_Date    </th>
                      <th>Action</th>
                  </tr>
                      <% @leavs.each do |leave1| %>
                  <tr>
                        <td><%= leave1.user.first_name %></td>
                        <td><%= leave1.subject %></td>
                        <td><%= leave1.comment %></td>
                        <td><%= leave1.start_date %></td>
                        <td><%= leave1.end_date %></td>
                        <td><%= link_to 'Accept',leafe_leave_comment_path(leave1, :status =>'Approved' ), :remote => true %> |<%= link_to 'Decline',leafe_leave_comment_path(leave1, :status =>'Decline' ), :remote => true%></td>
                    </tr>
                   <%end%>
              </table>
               <%= paginate @leavs, :remote => true, :param_name => "page2" %>
        </div>
      <%end%>
  <%end%>

 <div id="pop"></div>
 <div id="all_leave"></div>
