<div class="container">
    <%= paginate @leaves %>
    <h1 class="title">All Leaves</h1>
    <table class="leave_table">
        <tr >
        	<th>User</th>
            <th >Subjects</th>
            <th>Comment </th>
            <th>Start_Date </th>
            <th>End_Date </th>
            <th>No of day </th>
            <th>Status</th>
            <th>Leave Comment</th>
            
        </tr>
        <% @leaves.each do |leave| %>
        	<tr>
        		<td><%= leave.user.first_name %></td>
        		<td><%= leave.subject %></td>	
                <td><%= leave.comment %></td>
                <td><%= leave.start_date.strftime("%d-%m-%Y %H:%M %p") %></td>
                <td><%= leave.end_date.strftime("%d-%m-%Y %H:%M %p")%></td>
                <td><%= leave.no_of_day %></td>
                <td><%= leave.status %></td>
                <td><%= leave.leave_comment %></td>
            </tr>    
        <% end %>
    </table>
</div>    