<div class="margin-left">
  <div class="login">
    <h2>Sign-in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <p> 
        <%= f.email_field :email, autofocus: true , :placeholder => "Email", :class=>'textbox-size', :id=>"email"%>
      </p>

      
      <p>
        <%= f.password_field :password , :placeholder => "Password", autocomplete: "off" , :class=>'textbox-size',:id=>"password"%>
      </p>  
      
      
      <p>
      <%= f.submit "Sign in", :id=>"sign_in"%>
      </p>
      <% if devise_mapping.rememberable? -%>
        <p>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          <%= render "devise/shared/links" %> 
        </p>
      <% end -%>

    <% end %>
  </div> 
</div>   